<!-- +++++ Second Post +++++ -->
<div id="white">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p><img src="assets/img/user.png" width="50px" height="50px"> <ba>Deepesh Makhijani</ba></p>
				<p><bd>January 3, 2014</bd></p>
				<h4>An Image Post</h4>
				<p><img class="img-responsive" src="assets/img/blog01.jpg" alt=""></p>
				<p>Hey Everyone I like it dirty as you all know it Ha Ha LOL lulz// :) So here am I 			 a sjdis djiids sdassa
				as
				sdodsipoiew 398329</p>
				<p><a href="/blog/2">Continue Reading...</a></p>
			</div>

		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /white -->