<!-- +++++ Footer Section +++++ -->

<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<h4>My Bunker</h4>
				<p>
					Some Address 987,<br/>
					+34 9054 5455, <br/>
					Madrid, Spain.
				</p>
			</div><!-- /col-lg-4 -->
			
			<div class="col-lg-4">
				<h4>My Links</h4>
				<p>
					<a href="http://www.facebook.com/deepeshmak">Facebook</a><br/>
					<a href="http://www.twitter.com/deepeshmak_">Twitter</a><br/>
					<a href="http://www.github.com/deepeshmakhijani">Github</a>
				</p>
			</div><!-- /col-lg-4 -->
			
			<div class="col-lg-4">
				<h4>About Me</h4>
				<p>I am a Web Enthusiast and like to learn</p>
			</div><!-- /col-lg-4 -->
		
		</div>
	
	</div>
</div>