<!-- +++++ Welcome Section +++++ -->
<div id="ww">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 centered">
				<img src="assets/img/user.png" alt="Stanley">
				<h1>Hi, I am Deepesh!</h1>
				<p>Hello everybody. This website will host a blog which I plan to start in the near future. This will mostly some geeky stuff ;) </p>
				<p>Till then you can check my projects on Github <a href="http://www.github.com/deepeshmakhijani">@deepeshmakhijani</a></p>
			
			</div><!-- /col-lg-8 -->
		</div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /ww -->